{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block content %}
    <section class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow">
                    <header class="card-header bg-primary text-white">
                        <h2 class="h4 mb-0">Iniciar Sesión</h2>
                    </header>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <h3 class="text-center my-3">¡Estás a punto de utilizar la autenticación de google!</h3>
                            <nav class="d-flex justify-content-center mt-3">
                                <a href="{% url 'account_login' %}" class="btn btn-secondary me-2 px-4 py-2">
                                    <i class="bi bi-arrow-left me-2"></i>Volver al Login
                                </a>
                                <button type="submit" class="btn btn-primary px-4 py-2">
                                    <i class="bi bi-box-arrow-in-right me-2"></i>Continuar
                                </button>
                            </nav>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">Iniciar Sesión</li>
{% endblock %}

