{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container mt-4">
        <h2>Ingresar Código Secreto</h2>
        <p>Se ha enviado un código secreto a tu correo electrónico. Por favor, ingrésalo a continuación:</p>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="secret_code">Código Secreto:</label>
                <input type="text" class="form-control" id="secret_code" name="secret_code" required>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Verificar Código</button>
        </form>
    </div>
{% endblock %}